[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
faker = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"
sqlalchemy-serializer = "*"
python-dotenv = "*"
jsonify = "*"
ipdb = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8.12"
